<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Workout from your phone or Android TV. Bodyweight or equipment workouts, you choose.</h2>
                <hr class="light">
                <p class="text-faded">Fully personalised daily routines delivered daily based on your goals and feedback. Workout anywhere at anytime. At home, gym or on the move? Coresthetics makes workout recommendations that adapt to your needs & environment.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started Now!</a>
            </div>
        </div>
    </div>
</section>
