<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Coresthetics. Fitness that adapts to your goals!!!</h1>
            <hr>
            <p>Put yourself at the core of your fitness goals with personalized training to maintain or pursue a healthy lifestyle. Take out the guesswork, prioritize consistency over perfection with the Coresthetics app.</p>
            <a href="https://play.google.com/store/apps/details?id=app.coresthetics" class="btn btn-primary btn-xl page-scroll">Find Out More. Download now!!!</a>
        </div>
    </div>
</header>
